@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --main-bg-color: #E91E63;
    --main-txt-color: beige;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-size: 2rem;
    font-weight: bold;
    padding: 1%;
}

main {
    background-color: var(--main-txt-color);
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
}

table {
    border: 2px solid var(--main-bg-color);
    margin: 1%;
}

label {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

form > .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--main-bg-color);
}

form > .form-fields {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

form > .form-fields * {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 1%;
}

main button {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

main button:hover {
    background-color: #33d599;
}

main button > p {
    background-color: var(--main-bg-color);
}

.table-menu {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--main-bg-color);
}

.table-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: grey;
}

.main-content {
    flex-grow: 2;
    margin: 2%;
}

.table-content {
    margin: 2%;
}

span {
    width: 1.5rem;
    fill: var(--main-txt-color);
    display: block;
}
